@media (min-width: 1024px) and (max-width: 1919px) {
    
  .top h1{
    font-size: 3.5rem;
    top: 60%;
  } 
  


  h2 {
    font-size: 2rem;
  }

  .card-wrap{
    grid-template-columns: repeat(4, 1fr); 
    /* width: 1200px; */
  }

  

  .apply-info p {
    margin: 0rem 20rem;
  }
  .apply-info a {
    margin: 1rem 25rem 2rem 25rem;
  }
  
h3 {
  font-size: 1.1rem;
}



.foot-contact{
     text-align: right;
     margin-right: 1.5em;
     line-height: 0.5em;
     margin-top: 5em;
}

.foot-contact img{
     width: 8em;
}

.nav-foot{
     text-align: left;
     margin-left: 1.5em;
}

.nav-foot ul{
  border: none;
}

/*  */
/*  */
/*  AMSTERDAMS BUURVROUWENCONTACT PAGINA */
/*  */
/*  */


.abc-top img{
  height: 20rem;
}

.abc-top h1{
  font-size: 3rem;
  top: 70%;
}

.abc-info {
  margin: 2rem 20rem;
}

.abc-card-left, .abc-card-right {
 display: flex;
  width: 60rem;
  margin: 1rem;
  padding: 1rem;
  
}

.abc-card-left img, .abc-card-right img{
  width: 27rem;
  height: 24rem;
}

.abc-card-right h3 {
  font-size: 2rem;
  /* margin-left: 2rem; */
  padding-top: 1.5rem;
}

.abc-card-right p {
  white-space: wrap;
  margin-right: 3rem;
  margin-top: 2rem;
}


.abc-card-right a {
  display: block;
  margin-top: 3rem;
  padding: 1rem;
  text-align: center;
}

.abc-card-left{
  margin-bottom: 5rem;
  text-align: right;
}

.abc-card-left h3 {
  font-size: 2rem;
  margin-right: 1.2rem;
  padding-top: 1.5rem;
}

.abc-card-left p  {
  text-align: right;
  white-space: wrap;
  margin-left: 2rem;
  margin-top: 2rem;
}

.abc-card-left a {
  display: block;
  margin-top: 3rem;
  padding: 1rem;
  text-align: center;
}


    
  }