@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    /* COLORS */
  --white: #ffffff;
  --grey: #dfe4e5;
  --light-green: #d4e9db;
  --green: #46aa64;
  --dark-green: #2A633B;
  --button-green: #8AC59F;
  --blue: #0a3250;
  --dark-blue: #062026;
  --black: #111111;

  /* TRANSITION */
  --transition: 0.4s ease;
}

@font-face {
    font-family: 'ITC Avant Garde Std Bold';
    src: url('ITCAvantGardeStd-Bold.eot');
    src: local('ITC Avant Garde Gothic Std Bold'), local('ITCAvantGardeStd-Bold'),
        url('ITCAvantGardeStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-Bold.woff2') format('woff2'),
        url('ITCAvantGardeStd-Bold.woff') format('woff'),
        url('ITCAvantGardeStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
  
  @font-face {
    font-family: 'ITC Avant Garde Std Md';
    src: url('ITCAvantGardeStd-Md.eot');
    src: local('ITC Avant Garde Gothic Std Medium'), local('ITCAvantGardeStd-Md'),
        url('ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-Md.woff2') format('woff2'),
        url('ITCAvantGardeStd-Md.woff') format('woff'),
        url('ITCAvantGardeStd-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
  
@font-face {
    font-family: 'ITC Avant Garde Std XLt';
    src: url('ITCAvantGardeStd-XLt.eot');
    src: local('ITC Avant Garde Gothic Std Extra Light'), local('ITCAvantGardeStd-XLt'),
        url('ITCAvantGardeStd-XLt.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-XLt.woff2') format('woff2'),
        url('ITCAvantGardeStd-XLt.woff') format('woff'),
        url('ITCAvantGardeStd-XLt.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    width: 100%;
    height: 100vh;
    font-size: 16px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 100%;
    height: 100%;
    transition: var(--transition);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, th{
    font-family: 'ITC Avant Garde Std Bold', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
  }

h1 {
    font-size: 2.5rem;
}

p, a {
    font-family: 'ITC Avant Garde Gothic Std Medium', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
}


/*  */
/*  */
/*  HEADER */
/*  */
/*  */

Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.4rem;
    background-color: var(--white);
}

.logo img{  
    max-width: 35%;
    height: auto;
} 


/*  */
/*  */
/*  DROPDOWN MENU */
/*  */
/*  */


.dropdown{
   position: relative;
   display: inline-block;
}

.dropbtn{
    background-color: var(--white);
    color: var(--green);
    font-size: 2.5rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--white);
    z-index: 1;
    box-shadow: 0 0.5rem 1rem 0 var(--grey);
    text-align: left;
    min-width: 10rem;
}

.dropdown-content a{
    color: var(--green);
    background-color: var(--light-green);
    padding: 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-content:hover{
    background-color: var(--green);
    color: var(--light-green);
}

.dropdown:hover, .dropdown-content a{ 
    display: block;
    right: 0;
} 


/*  */
/*  */
/*  TOP */
/*  */
/*  */


.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.top img{
    width: 100%; 
    height: 30rem;
    align-items: center;
    opacity: 0.5;
}

.top h1{
    color: var(--white);
    margin-top: 0.8rem;
    position: absolute;
    top: 40%;
    transform: translate(-50% -50%);
    text-align: center;
    text-shadow: 0.4rem 0.4rem 0.4rem var(--black);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


/*  */
/*  */
/* BUURTINITIATIEVEN */
/*  */
/*  */


.buurtinitiatieven h2{
    text-align: center;
    font-size: 2rem;
    color: var(--blue);
    padding-top: 1.5rem;
}

.buurtinitiatieven p {
    text-align: center;
    color: var(--blue);
    padding-top: 0.5rem;
}
  
.buurtinitiatieven a {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding-top: 1rem;
    text-decoration: none;
    transition: font-size 0.3s ease-in-out;
    color: var(--dark-green);
}

.buurtinitiatieven a:hover{
    text-decoration: underline;
    font-size: 1.1rem;
}

.initiatief-wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 1.5rem;
    padding: 1.5rem;
    flex-wrap: wrap;
}
  
.initiatief-card {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1.4rem;
    margin-bottom: 2.3rem;
}
  
.initiatief-card img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    object-position: 50% 20%;
}
  
.initiatief-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.initiatief-text h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--blue);
    border-left: 3px solid var(--green);
    padding-left: 12px;
}

.initiatief-text p, .initiatief-card p {
    color: var(--blue);
}

.initiatief-text p{
    color: var(--light-green);
}

.initiatief-card p{
    white-space: wrap;
    text-align: left;
}
  
.initiatief a {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    background: transparent;
    box-shadow: 0px 0px 0px 1px var(--green) inset;
    transition: background 0.4s ease;
    text-decoration: none;
    color: var(--green);
    border-radius: 0.5rem;
}
  
.initiatief a:hover {
    background: var(--green);
    color: var(--white);
}
  

/*  */
/*  */
/* BUURTINITIATIEF AANMELDEN */
/*  */
/*  */


.apply-info{
    background-color: var(--grey);
    padding-bottom: 1rem;
}
.apply-info h2{
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--blue);
    padding-top: 1rem;
}

.apply-info p{
    text-align: center;
    color: var(--blue);
    font-size: 1rem;
    padding: 0.7rem;
}

.apply-info a{
    margin: 2rem 5rem;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    background: transparent;
    box-shadow: 0px 0px 0px 1px var(--green) inset;
    transition: background 0.4s ease;
    text-decoration: none;
    color: var(--green);
    border-radius: 0.5rem;
}
     

.apply-info a:hover{
    background: var(--green);
    color: var(--white);
}


/*  */
/*  */
/* HELP EEN BUUR */
/*  */
/*  */


.buur h2{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: var(--blue);
    padding-top: 1.5em;
}

.buur p{
    text-align: center;
    color: var(--blue);
    font-size: 1.1em;
    padding: 0.7em;
}

.buur a {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding-top: 1rem;
    text-decoration: none;
    transition: font-size 0.3s ease-in-out;
    color: var(--green);
}

.buur a:hover{
    text-decoration:underline;
    font-size: 1.1em;
}

.buur-wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
}
  
.buur-card {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    padding: 1em;
}  

.buur-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 20%;
    margin-bottom: 0.5em;
}
   
.buur-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.buur-text h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--blue);
    border-left: 3px solid var(--green);
    padding-left: 0.5em; 
}

.buur-text p, .buur-card p {
    font-size: 1em;
    line-height: 1;
    font-weight: 300;
    color: var(--blue);
}

.buur-text p {
    color: var(--light-green);
}

.buur-card p {
    text-align: left;
    white-space: wrap;
}
.button-container{
    display: flex;
}
.buur-card button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5em;
    margin-left: 1em;
    padding: 1em;
    background: transparent;
    box-shadow: 0px 0px 0px 1px var(--green) inset;
    transition: background 0.4s ease;
    text-decoration: none;
    color: var(--green);
    width: 15em;
    border-radius: 0.5em;
}
  
.buur-card button:hover {
    background: var(--green);
    color: var(--white);
}


    



/*  */
/*  */
/*  FOOTER */
/*  */
/*  */


footer{
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    padding: 30px 0;
}

.nav-foot ul{
    list-style-type: none;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--white);
}

.nav-foot li{
    margin: 5px 0;
}

.nav-foot a{
    text-decoration: none;
    color: var(--white);
}

.nav-foot a:hover{
    text-decoration: underline;
}

.foot-hallen{
    margin-top: 2em;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1em;
}

.foot-contact img{
    width: 20%;
}



/*  */
/*  */
/*  AMSTERDAMS BUURVROUWENCONTACT PAGINA */
/*  */
/*  */


.abc-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.abc-top img{
    width: 100%; 
    height: 10em;
    align-items: center;
}

.abc-top h1{
    font-size: 1.5em;
    color: var(--white);
    margin-top: 10px;
    position: absolute;
    top: 65%;
    transform: translate(-50% -50%);
    text-align: center;
    font-weight: 700;
    text-shadow: 4px 4px 4px var(--black);
    padding-left: 0.5em;
    padding-right: 0.5em;
}


.abc-info {
    text-align: center;
    color: var(--blue);
    font-size: 1.1em;
    margin: 2em 2em;
}


.abc-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.abc-card-left, .abc-card-right {
    width: 30em;
    margin: 2em;
    padding: 1em;
    border-radius: 8px;
    text-align: center;
    background-color: var(--grey);
}
  
.abc-card-left img, .abc-card-right img{
    width: 26em;
    height: 20em;
    border-radius: 8px;
    margin: 1em 0.5em;
}

.abc-card-left, .abc-card-right, .abc-text {
    flex: 1;
    padding-left: 20px; 
}
  
.abc-card-left h3, .abc-card-right h3 {
    font-size: 1.7em;
    font-weight: 700;
    color: var(--blue);
}

.abc-card-left p, .abc-card-right p {
    font-size: 1em;
    line-height: 1.7;
    font-weight: 300;
    color: var(--blue);
    white-space: wrap;
    margin: 1em 2em;
}
  
.abc-card-left a, .abc-card-right a {
    display: block;
    margin: 1em 5em;
    padding: 0.5em;
    width: 20em;
    background-color: var(--white);
    color: var(--green);
    border: 2px solid var(--green);
    text-decoration: none;
    border-radius: 0.5em;
    
}
  
.abc-card-left a:hover, .abc-card-right a:hover {
    background: var(--green);
    color: var(--white);
}

.abc-card-left{
    flex-direction: row-reverse;
    margin-bottom: 5em;
}

.abc-card-right, .abc-text{
    padding-left: 0;
    padding-right: 20px;
}

/*  */
/*  */
/*  POP UP */
/*  */
/*  */


.popup-wrap input, textarea{
    border: 2px solid black;
}










@media (min-width:63rem ) { 
    .top img{
        height: 40em;
    }
    
    .top h1{
        font-size: 3em;
    }

}


  
  
