:root {
    /* COLORS */
    --c-background: #ffffff;
    --c-textblock: #dfe4e5;
    --c-accent-green: #d4e9db;
    --c-main-green: #46aa64;
    --c-hover-green: #2A633B;
    --c-main-blue: #0a3250;
    --c-hover-blue: #062026;
    --c-ex-dark: #111111;
  
    /* BORDER */
    --border: 3px solid var(--c-accent-green);
  
    /* TRANSITION */
    --transition: 0.4s ease;
  }

@font-face {
    font-family: 'ITC Avant Garde Std Bold';
    src: url('ITCAvantGardeStd-Bold.eot');
    src: local('ITC Avant Garde Gothic Std Bold'), local('ITCAvantGardeStd-Bold'),
        url('ITCAvantGardeStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-Bold.woff2') format('woff2'),
        url('ITCAvantGardeStd-Bold.woff') format('woff'),
        url('ITCAvantGardeStd-Bold.ttf') format('truetype');
    font-weight: bold;
}
  
  @font-face {
    font-family: 'ITC Avant Garde Std Md';
    src: url('ITCAvantGardeStd-Md.eot');
    src: local('ITC Avant Garde Gothic Std Medium'), local('ITCAvantGardeStd-Md'),
        url('ITCAvantGardeStd-Md.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-Md.woff2') format('woff2'),
        url('ITCAvantGardeStd-Md.woff') format('woff'),
        url('ITCAvantGardeStd-Md.ttf') format('truetype');
    font-weight: 500;
}
  
@font-face {
    font-family: 'ITC Avant Garde Std XLt';
    src: url('ITCAvantGardeStd-XLt.eot');
    src: local('ITC Avant Garde Gothic Std Extra Light'), local('ITCAvantGardeStd-XLt'),
        url('ITCAvantGardeStd-XLt.eot?#iefix') format('embedded-opentype'),
        url('ITCAvantGardeStd-XLt.woff2') format('woff2'),
        url('ITCAvantGardeStd-XLt.woff') format('woff'),
        url('ITCAvantGardeStd-XLt.ttf') format('truetype');
    font-weight: 300;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    width: 100%;
    height: 100vh;
    font-size: 16px;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 100%;
    height: 100%;
    transition: var(--transition);
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, th{
    font-family: 'ITC Avant Garde Std Bold', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--c-main-blue);
  }

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    
}

p {
    font-family: 'ITC Avant Garde Gothic Std Medium', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1rem;
    color: var(--c-main-blue);
}

a {
    font-family: 'ITC Avant Garde Gothic Std Medium', arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: var(--c-main-green);
    font-size: 1rem;
}


/*  */
/*  */
/*  HEADER */
/*  */
/*  */

Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 1.4rem;
    background-color: var(--c-background);
}

.logo img{  
    max-width: 35%;
    height: auto;
} 


/*  */
/*  */
/*  DROPDOWN MENU */
/*  */
/*  */


.dropdown{
   position: relative;
   display: inline-block;
}

.dropbtn{
    background-color: var(--c-background);
    color: var(--c-main-green);
    font-size: 2.5rem;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--c-background);
    z-index: 1;
    box-shadow: 0 0.5rem 1rem 0 var(--c-textblock);
    text-align: left;
    min-width: 10rem;
}

.dropdown-content a{
    color: var(--c-main-green);
    background-color: var(--c-accent-green);
    padding: 1rem;
    text-decoration: none;
    display: block;
}

.dropdown-content:hover{
    background-color: var(--c-main-green);
    color: var(--c-accent-green);
}

.dropdown:hover, .dropdown-content a{ 
    display: block;
    right: 0;
} 


/*  */
/*  */
/*  TOP */
/*  */
/*  */


.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.title-pic{
    width: 100%; 
    height: 30rem;
    align-items: center;
    opacity: 0.5;
}

.top h1{
    color: var(--c-background);
    margin-top: 0.8rem;
    position: absolute;
    top: 30%;
    transform: translate(-50% -50%);
    text-align: center;
    text-shadow: 0.4rem 0.4rem 0.4rem var(--c-ex-dark);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.hallen-house {
    position: absolute;
    width: 10rem;
    height: 3rem;
    vertical-align: middle;
    top: 90%;

}


/*  */
/*  */
/* BUURTINITIATIEVEN  +
    HELP EEN BUUR */
/*  */
/*  */


.buurtinitiatieven h2, .buur h2{
    text-align: center;
    margin-top: 1.5rem;
}

.buurtinitiatieven p, .buur p {
    text-align: center;
    padding: 0.5rem 1rem;
}
  
.buurtinitiatieven a, .buur a {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    text-decoration: none;
    transition: var(--transition);
    color: var(--c-main-green);
}

 .buurtinitiatieven a:hover, .buur a:hover{
    text-decoration: underline;
    font-size: 1.1rem;
    color: var(--c-hover-green);
} 

/*  */
/* CARDS */
/*  */

.card-wrap {
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
    padding: 1.5rem;
}
  
.card img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
     object-position: 50% 20%;
}
  
.card-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.card-title h3{
    border-left: var(--border);
    padding-left: 0.8rem;
}

.card-title p{
    color: var(--c-accent-green);
}

.card p{
    white-space: wrap;
    text-align: left;
}
  
.initiatief a, .vraag-aanbod a {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    background: transparent;
    background-color: var(--c-main-green);
    color: var(--c-background);
    transition: var(--transition);
    text-decoration: none;
}
  
.initiatief a:hover, .vraag-aanbod a:hover {
    background: var(--c-hover-green);
    color: var(--c-background);
}
  

/*  */
/*  */
/* BUURTINITIATIEF AANMELDEN */
/*  */
/*  */


.apply-info{
    background-color: var(--c-textblock);
    padding-bottom: 1rem;
}
.apply-info h2{
    text-align: center;
    padding-top: 1rem;
}

.apply-info p{
    text-align: center;
    padding: 1rem;
}

.apply-info a{
    margin: 2rem 1rem;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    transition: var(--transition);
    text-decoration: none;
    color: var(--c-background);
    background-color: var(--c-main-green)
}
     
.apply-info a:hover{
    background: var(--c-hover-green);
    color: var(--c-background);
}


/*  */
/*  */
/*  FOOTER */
/*  */
/*  */

footer{
    background-color: var(--c-main-blue);
    color: var(--c-background);
    text-align: center;
    padding: 1.9rem 0;
}

.nav-foot ul{
    list-style-type: none;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid var(--c-background);
}

.nav-foot li{
    margin: 0.3rem 0;
}

.nav-foot a{
    text-decoration: none;
    color: var(--c-background);
}

.nav-foot a:hover{
    text-decoration: underline;
}

.foot-hallen{
    margin-top: 2rem;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1rem;
}

.foot-contact img{
    width: 20%;
}



/*  */
/*  */
/*  AMSTERDAMS BUURVROUWENCONTACT PAGINA */
/*  */
/*  */


.abc-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.abc-top img{
    width: 100%; 
    height: 20rem;
    align-items: center;
}

.abc-top h1{
    color: var(--c-background);
    margin-top: 10px;
    position: absolute;
    top: 58%;
    transform: translate(-50% -50%);
    text-align: center;
    text-shadow: 4px 4px 4px var(--c-ex-dark);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}


.abc-info {
    text-align: center;
    margin: 2rem 2rem;
    text-align: left;
}

.abc-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.abc-card-left, .abc-card-right {
    width: 28rem;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    background-color: var(--c-textblock);
}
  
.abc-card-left img, .abc-card-right img{
    width: 22rem;
    height: 19rem;
    margin: 1rem 3rem;
}
  

.abc-card-left p, .abc-card-right p {
    margin: 1rem 2rem 1.5rem 3.5rem;
    text-align: left;
}
  
.abc-card-left a, .abc-card-right a {
    display: block;
    margin: 1rem 3.5rem;
    padding: 1rem;
    width: 20rem;
    background-color: var(--c-main-green);
    color: var(--c-background);
    text-decoration: none;
    
}
  
.abc-card-left a:hover, .abc-card-right a:hover {
    background: var(--c-hover-green);
    color: var(--c-background);
}

.abc-card-left{
    flex-direction: row-reverse;
    margin-bottom: 5em;
}

.abc-card-right, .abc-text{
    padding-left: 0;
    padding-right: 1.25rem;
}

/*  */
/*  */
/*  POP UP */
/*  */
/*  */

.popup-wrap {
    padding: 1.3rem;
    max-width: 25rem;
    margin: 3rem;
    box-shadow: 0 0 0.6rem var();
}

form {
    margin: 1.3rem;
}

label{
    display: block;
    margin-top: 0.5rem;
    font-weight: bold;
}


input [type="text"], input [type-="email"], input [type="tel"], select, textarea {
    width: calc(100% - 1.5rem);
    padding: 0.5rem;
    background-color: var(--c-textblock);
    cursor: pointer;
}

input [type="submit"] {
    margin-top: 1.25rem;
    padding: 0.5rem;
    background-color: var(--c-main-blue);
    color: var(--c-background);
    border: none;
    cursor: pointer;
}

input [type="submit"]:hover {
    background-color: var(--c-hover-blue);

}


