@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root{
    --white: #ffffff;
    --grey: #dfe4e5;
    --light-green: #d4e9db;
    --dark-green: #46aa64;
    --blue: #0a3250;
    --black: #111111;
}

*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    width: 100%;
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    transition: all 0.5s ease;
}


/*  */
/*  */
/*  HEADER */
/*  */
/*  */

Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--white);
}

.logo img{  
    max-width: 35%;
    height: auto;
} 


/*  */
/*  */
/*  DROPDOWN MENU */
/*  */
/*  */


.dropdown{
   position: relative;
   display: inline-block;
}

.dropbtn{
    background-color: var(--dark-green);
    color: var(--light-green);
    font-size: 1.5em;
    padding: 0.5em;
    border: none;
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--white);
    z-index: 1;
    box-shadow: 0px 8px 16px 0px var(--grey);
    text-align: left;
    min-width: 160px;
}

.dropdown-content a{
    color: var(--dark-green);
    background-color: var(--light-green);
    padding: 16px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content:hover{
    background-color: var(--dark-green);
    color: var(--light-green);
}

.dropdown:hover, .dropdown-content a{ 
    display: block;
    right: 0;
} 


/*  */
/*  */
/*  TOP */
/*  */
/*  */


.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.top img{
    width: 100%; 
    height: 30em;
    align-items: center;
}

.top h1{
    font-size: 2em;
    color: var(--white);
    margin-top: 10px;
    position: absolute;
    top: 40%;
    transform: translate(-50% -50%);
    text-align: center;
    font-weight: 700;
    text-shadow: 4px 4px 4px var(--black);
    padding-left: 0.5em;
    padding-right: 0.5em;
}


/*  */
/*  */
/* BUURTINITIATIEVEN */
/*  */
/*  */


.buurtinitiatieven h2{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: var(--blue);
    padding-top: 1.5em;
}

.buurtinitiatieven p {
    text-align: center;
    color: var(--blue);
    font-size: 1.1em;
    padding-top: 0.5em;
}
  
.buurtinitiatieven a {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding-top: 1rem;
    text-decoration: none;
    transition: font-size 0.3s ease-in-out;
    color: var(--dark-green);
}

.buurtinitiatieven a:hover{
    text-decoration: underline;
    font-size: 1.1em;
}

.initiatief-wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
}
  
.initiatief-card {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
}
  
.initiatief-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 20%;
}
  
.initiatief-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.initiatief-text h3{
    font-size: 1.5em;
    font-weight: 700;
    color: var(--blue);
    border-left: 3px solid var(--dark-green);
    padding-left: 12px;
}

.initiatief-text p, .initiatief-card p {
    font-size: 1em;
    line-height: 1.4;
    font-weight: 300;
    color: var(--blue);
}

.initiatief-text p{
    color: var(--light-green);
}

.initiatief-card p{
    white-space: wrap;
    text-align: left;
}
  
.initiatief a {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 1em;
    background: transparent;
    box-shadow: 0px 0px 0px 1px var(--dark-green) inset;
    transition: background 0.4s ease;
    text-decoration: none;
    color: var(--dark-green);
    border-radius: 0.5em;
}
  
.initiatief a:hover {
    background: var(--dark-green);
    color: var(--white);
}
  

/*  */
/*  */
/* BUURTINITIATIEF AANMELDEN */
/*  */
/*  */


.apply-info{
    background-color: var(--grey);
    padding-bottom: 1em;
}
.apply-info h2{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: var(--blue);
    padding-top: 1em;
}

.apply-info p{
    text-align: center;
    color: var(--blue);
    font-size: 1.1em;
    padding: 0.7em;
}

.apply-info a{
    margin: 2em 5em;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding: 1em;
    background: transparent;
    box-shadow: 0px 0px 0px 1px var(--dark-green) inset;
    transition: background 0.4s ease;
    text-decoration: none;
    color: var(--dark-green);
    border-radius: 0.5em;
}
     

.apply-info a:hover{
    background: var(--dark-green);
    color: var(--white);
}


/*  */
/*  */
/* HELP EEN BUUR */
/*  */
/*  */


.buur h2{
    text-align: center;
    font-size: 2em;
    font-weight: 700;
    color: var(--blue);
    padding-top: 1.5em;
}

.buur p{
    text-align: center;
    color: var(--blue);
    font-size: 1.1em;
    padding: 0.7em;
}

.buur a {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    padding-top: 1rem;
    text-decoration: none;
    transition: font-size 0.3s ease-in-out;
    color: var(--dark-green);
}

.buur a:hover{
    text-decoration:underline;
    font-size: 1.1em;
}

.buur-wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
}
  
.buur-card {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    padding: 1em;
}  

.buur-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 50% 20%;
    margin-bottom: 0.5em;
}
   
.buur-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.buur-text h3 {
    font-size: 1.5em;
    font-weight: 700;
    color: var(--blue);
    border-left: 3px solid var(--dark-green);
    padding-left: 0.5em; 
}

.buur-text p, .buur-card p {
    font-size: 1em;
    line-height: 1;
    font-weight: 300;
    color: var(--blue);
}

.buur-text p {
    color: var(--light-green);
}

.buur-card p {
    text-align: left;
    white-space: wrap;
}
.button-container{
    display: flex;
}
.buur-card button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5em;
    margin-left: 1em;
    padding: 1em;
    background: transparent;
    box-shadow: 0px 0px 0px 1px var(--dark-green) inset;
    transition: background 0.4s ease;
    text-decoration: none;
    color: var(--dark-green);
    width: 15em;
    border-radius: 0.5em;
}
  
.buur-card button:hover {
    background: var(--dark-green);
    color: var(--white);
}


    



/*  */
/*  */
/*  FOOTER */
/*  */
/*  */


footer{
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    padding: 30px 0;
}

.nav-foot ul{
    list-style-type: none;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--white);
}

.nav-foot li{
    margin: 5px 0;
}

.nav-foot a{
    text-decoration: none;
    color: var(--white);
}

.nav-foot a:hover{
    text-decoration: underline;
}

.foot-hallen{
    margin-top: 2em;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1em;
}

.foot-contact img{
    width: 20%;
}



/*  */
/*  */
/*  AMSTERDAMS BUURVROUWENCONTACT PAGINA */
/*  */
/*  */


.abc-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.abc-top img{
    width: 100%; 
    height: 10em;
    align-items: center;
}

.abc-top h1{
    font-size: 1.5em;
    color: var(--white);
    margin-top: 10px;
    position: absolute;
    top: 65%;
    transform: translate(-50% -50%);
    text-align: center;
    font-weight: 700;
    text-shadow: 4px 4px 4px var(--black);
    padding-left: 0.5em;
    padding-right: 0.5em;
}


.abc-info {
    text-align: center;
    color: var(--blue);
    font-size: 1.1em;
    margin: 2em 2em;
}


.abc-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.abc-card-left, .abc-card-right {
    width: 30em;
    margin: 2em;
    padding: 1em;
    border-radius: 8px;
    text-align: center;
    background-color: var(--grey);
}
  
.abc-card-left img, .abc-card-right img{
    width: 26em;
    height: 20em;
    border-radius: 8px;
    margin: 1em 0.5em;
}

.abc-card-left, .abc-card-right, .abc-text {
    flex: 1;
    padding-left: 20px; 
}
  
.abc-card-left h3, .abc-card-right h3 {
    font-size: 1.7em;
    font-weight: 700;
    color: var(--blue);
}

.abc-card-left p, .abc-card-right p {
    font-size: 1em;
    line-height: 1.7;
    font-weight: 300;
    color: var(--blue);
    white-space: wrap;
    margin: 1em 2em;
}
  
.abc-card-left a, .abc-card-right a {
    display: block;
    margin: 1em 5em;
    padding: 0.5em;
    width: 20em;
    background-color: var(--white);
    color: var(--dark-green);
    border: 2px solid var(--dark-green);
    text-decoration: none;
    border-radius: 0.5em;
    
}
  
.abc-card-left a:hover, .abc-card-right a:hover {
    background: var(--dark-green);
    color: var(--white);
}

.abc-card-left{
    flex-direction: row-reverse;
    margin-bottom: 5em;
}

.abc-card-right, .abc-text{
    padding-left: 0;
    padding-right: 20px;
}

















@media (min-width:63rem ) { 
    .top img{
        height: 40em;
    }
    
    .top h1{
        font-size: 3em;
    }

}


  
  
