@media (min-width: 768px) and (max-width: 1023px) {
    .initiatief-text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: start;
    }

    .abc-top{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
    }
  
  .abc-top img{ 
    width: 100%; 
      height: 15em;
      align-items: center;
  }
  
  .abc-top h1{
      font-size: 2.5em;
      color: var(--white);
      margin-top: 10px;
      position: absolute;
      top: 70%;
      transform: translate(-50% -50%);
      text-align: center;
      font-weight: 700;
      text-shadow: 5px 5px 5px var(--black);
      text-align: center;
  }
  
  
  .abc-info {
    text-align: center;
    color: var(--blue);
    font-size: 1.1em;
    margin: 2em 4em;
    font-weight: 300;
  }
  
  .abc-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .abc-card-left, .abc-card-right {
   display: flex;
    width: 52em;
    margin: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .abc-card-left img, .abc-card-right img{
    width: 20em;
    height: 20em;
    border-radius: 8px;
  }


  .abc-card-right{
    padding-left: 0;
    padding-right: 20px;
    text-align: left;
    padding-left: 1em;
  }

  .abc-card-right h3 {
    font-size: 1.7em;
    margin-left: 1em;
    padding-top: 1.5em;
  }

  .abc-card-right p {
    font-size: 1em;
    line-height: 1.7;
    white-space: wrap;
    margin-right: 4em;
    margin-top: 2em;
  }

  .abc-card-right a {
    display: block;
    margin-top: 2em;
    padding: 0.7em;
    background-color: var(--white);
  color: var(--dark-green);
  text-decoration: none;
  border-radius: 5px;
  }


  .abc-card-left{
    flex-direction: row-reverse;
    text-align: right;
    margin-bottom: 3em;
  }

  .abc-card-left h3 {
    font-size: 1.7em;
    text-align: right;
    margin-right: 1em;
    padding-top: 1.5em;
  }

  
  .abc-card-left p  {
    font-size: 1em;
    line-height: 1.7;
    white-space: wrap;
    margin-left: 4em;
    margin-top: 2em;
  }
  
  .abc-card-left a {
    display: block;
    margin-top: 2em;
    padding: 0.7em;
    width: 20em;
    
  }
  
  .abc-card-left a:hover, .abc-card-right a:hover {
    background: var(--dark-green);
    color: var(--white);
  }
  
  

  
  }